PORT=4000
MONGODB_URI=mongodb://localhost:27017/retro-retro
GOOGLE_CLIENT_ID=votre_client_id
GOOGLE_CLIENT_SECRET=votre_client_secret
GOOGLE_CALLBACK_URL=http://localhost:4000/auth/google/callback
FRONTEND_URL=http://localhost:3000
SESSION_SECRET=votre_secret_session
